.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.App-header .reqbox h2{
  font-size: 1em;
  text-align: center;
  width: 600px;
}
